In [1]:
import pandas as pd
import pylab as pl
import numpy as np
import scipy.optimize as opt
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
%matplotlib inline
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('D:/heart.csv')
df[:10]
#benign (value = 2) or malignant (value = 4)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
5,57,1,0,140,192,0,1,148,0,0.4,1,0,1,1
6,56,0,1,140,294,0,0,153,0,1.3,1,0,2,1
7,44,1,1,120,263,0,1,173,0,0.0,2,0,3,1
8,52,1,2,172,199,1,1,162,0,0.5,2,0,3,1
9,57,1,2,150,168,0,1,174,0,1.6,2,0,2,1

In [3]:
df.dtypes

age           int64
sex           int64
cp            int64
trestbps      int64
chol          int64
fbs           int64
restecg       int64
thalach       int64
exang         int64
oldpeak     float64
slope         int64
ca            int64
thal          int64
target        int64
dtype: object

In [4]:
x = np.asanyarray(df[['age', 'sex', 'cp', 'trestbps', 'chol', 'restecg', 'thalach', 'oldpeak', 'slope', 'thal']])
x[0:5]

array([[ 63. ,   1. ,   3. , 145. , 233. ,   0. , 150. ,   2.3,   0. ,
          1. ],
       [ 37. ,   1. ,   2. , 130. , 250. ,   1. , 187. ,   3.5,   0. ,
          2. ],
       [ 41. ,   0. ,   1. , 130. , 204. ,   0. , 172. ,   1.4,   2. ,
          2. ],
       [ 56. ,   1. ,   1. , 120. , 236. ,   1. , 178. ,   0.8,   2. ,
          2. ],
       [ 57. ,   0. ,   0. , 120. , 354. ,   1. , 163. ,   0.6,   2. ,
          2. ]])

In [5]:
y = np.asanyarray(df['target'].astype('int'))
y[0:5]

array([1, 1, 1, 1, 1])

In [6]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=4)
print("Train test:", x_train.shape, y_train.shape)
print("Test set:", x_test.shape, y_test.shape)

Train test: (242, 10) (242,)
Test set: (61, 10) (61,)

In [9]:
#radial basis function
from sklearn import svm
from sklearn.metrics import classification_report, confusion_matrix
import itertools
from sklearn.metrics import f1_score

In [11]:
clf1 = svm.SVC(kernel='linear')
clf1.fit(x_train, y_train)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
    kernel='linear', max_iter=-1, probability=False, random_state=None,
    shrinking=True, tol=0.001, verbose=False)

In [12]:
y_pre1 = clf1.predict(x_test)
pd.DataFrame(y_pre1)[:10]

   0
0  0
1  0
2  0
3  1
4  1
5  0
6  0
7  1
8  1
9  1

In [13]:
x2 = f1_score(y_test, y_pre1, average='weighted')
x2

0.8688524590163934

In [15]:
y_pre2 = clf1.predict(x_test)
x3 = f1_score(y_test, y_pre1, average='weighted')
x3

0.8688524590163934

In [16]:
print('Classification report:\n', classification_report(y_test, y_pre2))

Classification report:
               precision    recall  f1-score   support

           0       0.84      0.84      0.84        25
           1       0.89      0.89      0.89        36

    accuracy                           0.87        61
   macro avg       0.86      0.86      0.86        61
weighted avg       0.87      0.87      0.87        61